* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
  padding: 10px 0;
}

#addData {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  box-shadow: inset 1px 1px 10px #ccc;
  outline: none;
  padding-left: 15px;
}

#addData::placeholder {
  font-size: 15px;
  letter-spacing: 1.5px;
}

.addBtn {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: blue;
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
li > .deleteBtn {
  position: relative;
}

.deleteBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: -22%;
}

